
.ixMainHeaderLayout, .ixMainHeaderDetailLayout {
	padding: 10px;
}

.ixMainLayout, 
.ixMainLayoutDetail {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.ixBrowseLayout {
	background-color: #D2E0E8;
	padding: 10px;
	border-radius: 0px;
}

.ixFilterContainer {
	background-color: #FFFFFF;
	border-radius: 0px;
	padding: 10px;
}

.titleLabelBold{

 font-family:Arial, Verdana, Bitstream Vera Sans, sans-serif;
 font-size:16px;
 color: #000000;
 font-weight: bold;
}

.ixMainHeaderTitle, .ixMainHeaderDetailTitle {
	color: #ffffff;
	font-Size: 20px; 
	font-weight: normal;
	text-align: center;
}